/*@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Roboto:wght@300;400;700&display=swap');
*/
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  display: block;
  background-color: #1e1f26;
  color: #faebd7;
}

h1 {
  font-size: 3em;
  font-family: "Josefin Sans", sans-serif;
  color: #03dac6;
  text-align: center;
  padding: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
h1:hover {
  color: #ff0266;
  transform: translate3d(0, -12px, 22px);
  cursor: pointer;
  
}

.toDo {
  width: 300px;
  margin: auto;
  background-color: #1e1f26;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  list-style: none;
  text-align: left;
  color: #03dac6;
}

li,
li span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.done {
  text-decoration: line-through;
  font-style: italic;
}
li .x {
  background-color: #d5e5f4;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: none;
  font-size: 10px;
  text-align: center;
  padding: 0;
  padding-top: 2px;
  font-weight: bold;
  cursor: pointer;
  color: #03dac6;
  transition: .2s;
}

.x:hover {
  background-color: #ff0266;
  color: white;
}


form {
  border: 5px solid #03dac6;
  border-radius: 10px;
  display: flex;
}

input[type='text'] {
  width: calc(100% - 50px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  padding: 10px;
  outline: none;
}

input[type='submit'] {
  width: 50px;
  height: 36px;
  background-color: #03dac6;
  border: none;
  color: white;
  font-size: 25px;
  position: relative;
  right: -1px;
  cursor: pointer;
}

hr {
  border-bottom: 1px solid #03dac6;
}